body {
    text-align: center;
    color: ghostwhite;
    font-family: 'Tillana', cursive;
    background-image: url('../images/math2.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



}
.container
{
    margin-top: 15em;
}